.dl-virtual-scroll {
    &:focus {
        outline: 0;
    }
    &__content {
        outline: none;
        contain: content;

        & > * {
            overflow-anchor: none;
        }
        & > [data-dl-vs-anchor] {
            overflow-anchor: auto;
        }
    }
    &__padding {
        background: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) 20%,
                rgba(128, 128, 128, 0.03) 20%,
                rgba(128, 128, 128, 0.08) 50%,
                rgba(128, 128, 128, 0.03) 80%,
                rgba(255, 255, 255, 0) 80%,
                rgba(255, 255, 255, 0)
            )
            #{'/* rtl:ignore */'};
        background-size: var(--dl-virtual-scroll-item-width, 100%)
            var(--dl-virtual-scroll-item-height, 50px) #{'/* rtl:ignore */'};

        .dl-table & {
            tr {
                height: 0 !important;
            }
            td {
                padding: 0 !important;
            }
        }
    }
    &--horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;

        .dl-virtual-scroll {
            &__content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            &__padding,
            &__content,
            &__content > * {
                flex: 0 0 auto;
            }
            &__padding {
                background: linear-gradient(
                        to left,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0) 20%,
                        rgba(128, 128, 128, 0.03) 20%,
                        rgba(128, 128, 128, 0.08) 50%,
                        rgba(128, 128, 128, 0.03) 80%,
                        rgba(255, 255, 255, 0) 80%,
                        rgba(255, 255, 255, 0)
                    )
                    #{'/* rtl:ignore */'};
                background-size: var(--dl-virtual-scroll-item-width, 50px)
                    var(--dl-virtual-scroll-item-height, 100%) #{'/* rtl:ignore */'};
            }
        }
    }
}
