:root {
    /* Constants */
    --dl-color-alert-success: #1B8500; /* replace to --dell-green-500: #1B8500 */
    --dl-color-alert-success-background: #DDEDD9; /* replace to --dell-green-200: #DDEDD9 */
    --dl-color-alert-success-bg: #DDEDD9; /* replace to --dell-green-200: #DDEDD9 */
    --dl-color-alert-warn: #FFC700; /* replace to --dell-yellow-500: #FFC700 */
    --dl-color-alert-warn-background: #FFF7D9; /* replace to --dell-yellow-200: #FFF7D9 */
    --dl-color-alert-warn-bg: #FFF7D9; /* replace to --dell-yellow-200: #FFF7D9 */
    --dl-color-alert-error: #AF0000; /* replace to --dell-red-500: #AF0000 */
    --dl-color-alert-error-background: #F3D9D9; /* replace to --dell-red-200: #F3D9D9 */
    --dl-color-alert-error-bg: #F3D9D9; /* replace to --dell-red-200: #F3D9D9 */
    --dl-color-alert-info: #0076CE; /* replace to --dell-blue-500: #0076CE */
    --dl-color-alert-info-background: #D9EAF8; /* replace to --dell-blue-200: #D9EAF8 */
    --dl-color-alert-info-bg: #D9EAF8; /* replace to --dell-blue-200: #D9EAF8 */
    --dl-color-alert-text: #333333; /* replace to --dell-gray-800: #333333 */

    /* Z-Index */
    --dl-z-index-toast: 1052;
    --dl-z-index-panel: 3000; /* panel & panel contaiener content */
    --dl-z-index-panel-elements: 3010; /* separator + glutter */
    --dl-z-index-panel-header-footer: 3020;
    --dl-z-index-panel-container-overlay: 3025;
    --dl-z-index-panel-container-elements: 3030; /* collapse icon + separator */

    --dl-z-index-overlay: 5000;
    --dl-z-index-dialog: 5200;
    --dl-z-index-popup: 5500;
    --dl-z-index-menu: 6000;
    --dl-z-index-tooltip: 9000;

    /* chart colors */
    --dl-color-chart-1: #4db1d3;
    --dl-color-chart-2: #ff2f7a;
    --dl-color-chart-3: #d4e3ff;
    --dl-color-chart-4: #becb5d;
    --dl-color-chart-5: #839e30;
    --dl-color-chart-6: #6b5935;
    --dl-color-chart-7: #752b86;
    --dl-color-chart-8: #bb96a3;
    --dl-color-chart-9: #870f49;
    --dl-color-chart-10: #cc566c;
    --dl-color-chart-11: #f0a18c;
    --dl-color-chart-12: #edab55;
    --dl-color-chart-13: #ff5934;
    --dl-color-chart-14: #9cd2e3;
    --dl-color-chart-15: #928f80;
    --dl-color-chart-16: #575567;
    --dl-color-chart-17: #979797;
    --dl-color-chart-18: #d9d9d9;

    /* Dell Tokens */
    --dell-white: #ffffff;
    --dell-gray-100: #F4F4F4;
    --dell-gray-200: #eaeaea;
    --dell-gray-300: #C5C5C5;
    --dell-gray-400: #9E9E9E;
    --dell-gray-500: #757575;
    --dell-gray-600: #616161;
    --dell-gray-700: #4D4D4D;
    --dell-gray-800: #333333;
    --dell-gray-900: #252525;
    --dell-blue-100: #ebf4fb;
    --dell-blue-200: #D9EAF8;
    --dell-blue-300: #94BBEA;
    --dell-blue-400: #4C9FDD;
    --dell-blue-500: #0076CE;
    --dell-blue-600: #0062AB;
    --dell-blue-700: #004E88;
    --dell-blue-800: #003A65;
    --dell-blue-900: #002642;
    --dell-green-100: #EDF5EB;
    --dell-green-200: #DDEDD9;
    --dell-green-500: #1B8500;
    --dell-green-600: #166e00;
    --dell-yellow-100: #FFFBEB;
    --dell-yellow-200: #FFF7D9;
    --dell-yellow-500: #FFC700;
    --dell-yellow-600: #E5A51A;
    --dell-yellow-800: #9C622E;
    --dell-orange-200: #FCE8D9;
    --dell-orange-500: #ED6400;
    --dell-orange-600: #C55300;
    --dell-red-100: #F9EBEB;
    --dell-red-200: #F3D9D9;
    --dell-red-500: #AF0000;
    --dell-red-600: #910000;
    --dell-red-700: #730000;
    --dell-overlay: rgba(0, 0, 0, 0.6);
    --dell-shadow: rgba(0, 0, 0, 0.14);
    --dell-teal-500: #00819e;
    --dell-berry-500: #A10061;
    --dell-color-discovery: #7F3EE0;
    --dell-color-discovery-bg: #F6F2FD;
}
