:root {
    /* Constants */
    --dl-color-alert-success: #38d079;
    --dl-color-alert-success-background: #e1fff0;
    --dl-color-alert-warn: #F5C114;
    --dl-color-alert-warn-background: #FFF8E0;
    --dl-color-alert-error: #ff3434;
    --dl-color-alert-error-background: #ffeaea;
    --dl-color-alert-info: #4e81b3;
    --dl-color-alert-info-background: #f3f9ff;
    --dl-color-alert-text: #171723;

    /* Z-Index */
    --dl-z-index-toast: 1052;
    --dl-z-index-panel: 3000; /* panel & panel contaiener content */
    --dl-z-index-panel-elements: 3010; /* separator + glutter */
    --dl-z-index-panel-header-footer: 3020;
    --dl-z-index-panel-container-overlay: 3025;
    --dl-z-index-panel-container-elements: 3030; /* collapse icon + separator */

    --dl-z-index-overlay: 5000;
    --dl-z-index-dialog: 5200;
    --dl-z-index-popup: 5500;
    --dl-z-index-menu: 6000;
    --dl-z-index-tooltip: 9000;

    /* chart colors */
    --dl-color-chart-1: #4db1d3;
    --dl-color-chart-2: #ff2f7a;
    --dl-color-chart-3: #d4e3ff;
    --dl-color-chart-4: #becb5d;
    --dl-color-chart-5: #839e30;
    --dl-color-chart-6: #6b5935;
    --dl-color-chart-7: #752b86;
    --dl-color-chart-8: #bb96a3;
    --dl-color-chart-9: #870f49;
    --dl-color-chart-10: #cc566c;
    --dl-color-chart-11: #f0a18c;
    --dl-color-chart-12: #edab55;
    --dl-color-chart-13: #ff5934;
    --dl-color-chart-14: #9cd2e3;
    --dl-color-chart-15: #928f80;
    --dl-color-chart-16: #575567;
    --dl-color-chart-17: #979797;
    --dl-color-chart-18: #d9d9d9;
}
