@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'constants';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    &>* {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    background-color: var(--dl-color-bg);
}

// tranform
.rotate-180 {
    transform: rotate(180deg);
}

.text {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

.scroll {
    overflow: auto;
}

.scroll,
.scroll-x,
.scroll-y {
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.row.inline,
.column.inline,
.flex.inline {
    display: inline-flex;
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.row,
.column,
.flex {
    display: flex;
    flex-wrap: wrap;
}

.relative-position {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.non-selectable {
    user-select: none;
}

.no-outline {
    outline: 0;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.items-top {
    align-items: start;
}

.items-bottom {
    align-items: end;
}

.col {
    flex: 10000 1 0%;
}

.full-width {
    width: 100%;
}


:root {
    // common
    --dl-color-white: #fff;
    --dl-color-black: #000;
    --dl-color-bg: #fff;
    --dl-color-transparent: transparent;

    // fontSizes
    --dl-font-size-h1: 30px;
    --dl-font-size-h2: 20px;
    --dl-font-size-h3: 16px;
    --dl-font-size-h4: 14px;
    --dl-font-size-body: 12px;
    --dl-font-size-small: 10px;

    // shadows
    --dl-menu-shadow: 0px 3px 6px rgba(16, 30, 115, 0.15);

    // colors
    --dl-color-tooltip-text: #FEFEFE;
    --dl-color-tooltip-background: #171723d9;
    --dl-color-text-darker-buttons: #171723;
    --dl-color-secondary: #3452FF;
    --dl-color-secondary-opaque: #3452FF10;
    --dl-color-text-buttons: #FFFFFF;
    --dl-color-darker: #171723;
    --dl-color-medium: #767676;
    --dl-color-lighter: #999999;
    --dl-color-hover: #7B8CFF;
    --dl-color-disabled: #B3B3B3;
    --dl-color-fill: #F5F5F5;
    --dl-color-fill-hover: #F8F8F8;
    --dl-color-separator: #E4E4E4;
    --dl-color-scrollbar: #E4E4E4;
    --dl-color-body-background: #EEF1FF;
    --dl-color-panel-background: #FFFFFF;
    --dl-color-side-panel: #18195C;
    --dl-color-shadow: #FFFFFF;
    --dl-color-icon-default: #171723;
    --dl-color-fill-secondary: #FBF8F8;
    --dl-color-fill-third: #FBFBFB;
    --dl-color-link: #20ABFA;
    --dl-color-cell-background: #FFFAE2;
    --q-color-positive: #38D079;
    --q-color-warning: #E1B75B;

    // alert colors
    --dl-color-negative: var(--dl-color-alert-error);
    --dl-color-negative-background: var(--dl-color-alert-error-background);
    --dl-color-warning: var(--dl-color-alert-warn);
    --dl-color-warning-background: var(--dl-color-alert-warn-background);
    --dl-color-positive: var(--dl-color-alert-success);
    --dl-color-positive-background: var(--dl-color-alert-success-background);
    --dl-color-info: var(--dl-color-alert-info);
    --dl-color-info-background: var(--dl-color-alert-info-background);


    --dl-color-chart-brush: #EEF1FF;

    --dl-date-picker-shadow: 0px 3px 6px #101e7326;
    --dl-date-picker-selected-strip: rgb(52, 82, 255, 0.2);
    --dl-date-picker-selected-date: #8FA0FF;
}

/* Define styles for the root window with dark - mode preference */
[data-theme='dark-mode'] {

    // shadows
    --dl-menu-shadow: 0px 3px 6px rgba(41, 46, 53, 0.5);

    // colors
    --dl-color-bg: #30363D;
    --dl-color-tooltip-text: #161616;
    --dl-color-tooltip-background: #ffffffd9;
    --dl-color-text-darker-buttons: #171723;
    --dl-color-secondary: #7C8CFF;
    --dl-color-secondary-opaque: #7C8CFF10;
    --dl-color-text-buttons: #FFFFFF;
    --dl-color-darker: #ffffffcc;
    --dl-color-medium: #ffffff99;
    --dl-color-lighter: #ffffff66;
    --dl-color-hover: #AEB9FF;
    --dl-color-disabled: #ffffff40;
    --dl-color-fill: #ffffff0D;
    --dl-color-fill-secondary: #F8F8F81A;
    --dl-color-fill-hover: #ffffff1A;
    --dl-color-separator: #ffffff26;
    --dl-color-body-background: #24282D;
    --dl-color-panel-background: #30363D;
    --dl-color-side-panel: #2A343E;
    --dl-color-shadow: #30363D;
    --dl-color-icon-default: #ffffffbf;
    --dl-color-fill-secondary: #FFFFFF1A;
    --dl-color-fill-third: #9E9E9E1A;
    --dl-color-link: #53B2E8;
    --dl-color-cell-background: #FFFAE2;
    --q-color-positive: #A1E5B6;
    --q-color-warning: #F8D29A;

    // alert colors
    --dl-color-negative-background: #734145;
    --dl-color-warning-background: #7B7241;
    --dl-color-positive-background: #3A644E;
    --dl-color-info-background: #4B5A6B;
    --dl-color-info: #92CDF2;

    --dl-color-chart-brush: #475077;

    --dl-date-picker-shadow: 0px 3px 6px #292e3580;
    --dl-date-picker-selected-strip: rgb(124, 140, 255, 0.2);
    --dl-date-picker-selected-date: #535E96;
}

// scrollbar

html {
    // Mozilla Firefox
    scrollbar-width: thin;
    scrollbar-color: var(--dl-color-scrollbar);

    // IE
    scrollbar-face-color: #E4E4E4;
    scrollbar-face-color: var(--dl-color-scrollbar);
}

// Google Chrome & Safari
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dl-color-scrollbar);
    border-radius: 3px;
}

.no-user-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

@import 'grid';