@import './theme.css';

body {
    & > * {
        font-weight: 400;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
    }
}

html.dl-sortable--dragging,
html.dl-sortable--dragging * {
    cursor: grabbing !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.dl-table-fallback-row.sortable-drag {
    display: table !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--dl-font-size-body);
    line-height: 14px;
    color: var(--dl-color-darker);
    background-color: var(--dl-color-fill-hover);
}

tr.dl-table-fallback-row.sortable-drag {
    display: table !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--dl-font-size-body);
    line-height: 14px;
    color: var(--dl-color-darker);
}

tr.dl-table-fallback-row.sortable-drag > th,
tr.dl-table-fallback-row.sortable-drag > td {
    display: table-cell;
    box-sizing: border-box;
    background-color: var(--dl-color-fill-hover);
    color: var(--dl-color-darker);
    vertical-align: middle;
    height: 40px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

tbody.dl-table-fallback-row.sortable-drag {
    display: table-row-group !important;
}

.dl-tree-table-fallback-row.sortable-drag {
    display: table !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--dl-font-size-body);
    line-height: 14px;
    color: var(--dl-color-darker);
    background-color: var(--dl-color-panel-background);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
}

tr.dl-tree-table-fallback-row.sortable-drag {
    display: table !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--dl-font-size-body);
    line-height: 14px;
    color: var(--dl-color-darker);
    background-color: var(--dl-color-panel-background);
}

tr.dl-tree-table-fallback-row.sortable-drag > th,
tr.dl-tree-table-fallback-row.sortable-drag > td {
    display: table-cell;
    box-sizing: border-box;
    background-color: var(--dl-color-fill-hover);
    color: var(--dl-color-darker);
    vertical-align: middle;
    height: 40px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

tbody.dl-tree-table-fallback-row.sortable-drag {
    display: table-row-group !important;
}

.dl-table-fallback-row.sortable-drag > tr {
    display: table-row;
    height: 40px;
    vertical-align: middle;
}

.dl-tree-table-fallback-row.sortable-drag > tr {
    display: table-row;
    height: 40px;
    vertical-align: middle;
}

.dl-table-fallback-row.sortable-drag > tr > th,
.dl-table-fallback-row.sortable-drag > tr > td {
    display: table-cell;
    box-sizing: border-box;
    background-color: var(--dl-color-fill-hover);
    color: var(--dl-color-darker);
    vertical-align: middle;
}

.dl-tree-table-fallback-row.sortable-drag > tr > th,
.dl-tree-table-fallback-row.sortable-drag > tr > td {
    display: table-cell;
    box-sizing: border-box;
    background-color: var(--dl-color-fill-hover);
    color: var(--dl-color-darker);
    vertical-align: middle;
}

.dl-tree-table-fallback-row.sortable-drag > tr:first-child > th,
.dl-tree-table-fallback-row.sortable-drag > tr:first-child > td {
    background-color: var(--dl-color-fill-hover);
}

.dl-tree-table-fallback-row.sortable-drag > tr:not(:first-child) > th,
.dl-tree-table-fallback-row.sortable-drag > tr:not(:first-child) > td {
    background-color: var(--dl-color-fill-hover);
}

.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    > td:first-child,
.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    > td.dl-table--col-auto-width,
.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    > td.chevron-icon-container {
    background-color: transparent !important;
}

.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    > td.chevron-icon-container,
.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    > td.chevron-icon-container
    *,
.dl-tree-table-fallback-row.sortable-drag > tr:not(:first-child) .chevron-icon,
.dl-tree-table-fallback-row.sortable-drag
    tr[data-level]:not([data-level='1'])
    .chevron-icon
    * {
    background-color: transparent !important;
}

.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td:first-child,
.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td.dl-table--col-auto-width,
.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td.chevron-icon-container {
    background-color: transparent !important;
}

.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td:nth-child(-n + 3) {
    background-color: transparent !important;
}

.dl-tree-table-fallback-row.sortable-drag
    tr:not(:first-child)
    > td:nth-child(-n + 3) {
    background-color: transparent !important;
}

.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td.chevron-icon-container,
.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    > tr
    > td.chevron-icon-container
    *,
.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    .chevron-icon,
.dl-tree-table-fallback-row.sortable-drag
    tbody[data-level]:not([data-level='1'])
    .chevron-icon
    * {
    background-color: transparent !important;
}

.dl-table-fallback-row.sortable-drag .draggable-icon {
    visibility: hidden !important;
}

.dl-tree-table-fallback-row.sortable-drag .draggable-icon {
    visibility: hidden !important;
}

.dl-table-fallback-row.sortable-drag > tr:not(:first-child) {
    display: none !important;
}

// tranform
.rotate-180 {
    transform: rotate(180deg);
}

.display-none {
    display: none !important;
}

.text {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

.dl-text-transform {
    &--uppercase {
        text-transform: uppercase;
    }
    &--lowercase {
        text-transform: lowercase;
    }
    &--capitalize {
        text-transform: capitalize;
    }
    &--none {
        text-transform: none;
    }

    &--default {
        &,
        & > * {
            text-transform: capitalize;
        }
    }
}

/* Inserting a collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
}

/* Use a collapsed column to break to a new column */
.break-column {
    flex-basis: 100%;
    width: 0;
}

.scroll {
    overflow: auto;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--dl-color-lighter);
}

@supports (-moz-appearance: none) {
    .scroll {
        scrollbar-color: var(--dl-color-lighter) transparent;
    }
}

.reactive-scroll {
    .scroll::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .scroll:hover::-webkit-scrollbar-thumb {
        background-color: var(--dl-color-lighter);
    }
}

.scroll,
.scroll-x,
.scroll-y {
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.row.inline,
.column.inline,
.flex.inline {
    display: inline-flex;
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.row,
.column,
.flex {
    display: flex;
    flex-wrap: wrap;
}

.relative-position {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.non-selectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.non-draggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-outline {
    outline: 0;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.items-top {
    align-items: start;
}

.items-bottom {
    align-items: end;
}

.col {
    flex: 10000 1 0%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// scrollbar

html {
    // Mozilla Firefox
    scrollbar-width: thin;
    scrollbar-color: var(--dl-color-scrollbar);

    // IE
    scrollbar-face-color: #e4e4e4;
    scrollbar-face-color: var(--dl-color-scrollbar);
}

// Google Chrome & Safari
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dl-color-scrollbar);
    border-radius: 3px;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

// maybe add this in the future
// .disabled {
//     opacity: 0.6 !important;
// }
// .disabled,  .disabled * {
//     outline: 0 !important;
//     cursor: not-allowed !important;
// }

[disabled] {
    opacity: 0.6 !important;
}
[disabled],
[disabled] * {
    outline: 0 !important;
    cursor: not-allowed !important;
}

@import 'grid';
