/* @import url('./nd/css2/google-font-roboto-400-500-swap.css'); // for on prem */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'constants.css';

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--dl-color-bg);
}

:root {
    /* common */
    --dl-color-white: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-black: #252525; /* replace to --dell-gray-900: #252525 */
    --dl-color-bg: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-background: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-transparent: transparent; /* replace to --dell-transparent: transparent */

    /* fontSizes */
    --dl-font-size-h1: 30px;
    --dl-font-size-h2: 20px;
    --dl-font-size-h3: 16px;
    --dl-font-size-h4: 14px;
    --dl-font-size-h5: 12px;
    --dl-font-size-h6: 10px;
    --dl-font-size-body: 12px;
    --dl-font-size-small: 10px;

    /* shadows */
    --dl-menu-shadow: rgba(0, 0, 0, 0.14); /* replace to --dell-shadow: rgba(0, 0, 0, 0.14); */

    /* colors */
    --dl-color-tooltip-text: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-tooltip-background: #333333; /* base color replace to --dell-gray-800: #333333 */
    --dl-color-text-darker-buttons: #333333; /* replace to --dell-gray-800: #333333 */
    --dl-color-secondary: #0076CE; /* replace to --dell-blue-500: #0076CE */
    --dl-color-secondary-opaque: #0076CE; /* base color replace to --dell-blue-500: #0076CE */
    --dl-color-text-buttons: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-darker: #333333; /* replace to --dell-gray-800: #333333 */
    --dl-color-medium: #616161; /* replace to --dell-gray-600: #616161 */
    --dl-color-lighter: #757575; /* replace to --dell-gray-500: #757575 */
    --dl-color-hover: #0062AB; /* replace to --dell-blue-600: #0062AB */
    --dl-color-disabled: #757575; /* replace to --dell-gray-500: #757575 */
    --dl-color-fill: #ebf4fb; /* replace to --dell-gray-100: #ebf4fb */
    --dl-color-fill-hover: #ebf4fb; /* replace to --dell-gray-100: #ebf4fb */
    --dl-color-separator: #C5C5C5; /* replace to --dell-gray-300: #C5C5C5 */
    --dl-color-component: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-scrollbar: #C5C5C5; /* replace to --dell-gray-300: #C5C5C5 */
    --dl-color-body-background: #F4F4F4; /* replace to --dell-gray-100: #F4F4F4 */
    --dl-color-panel-background: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-side-panel: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-shadow: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-color-icon-default: #333333; /* replace to --dell-gray-800: #333333 */
    --dl-color-fill-secondary: #ebf4fb; /* replace to --dell-blue-100: #ebf4fb */
    --dl-color-fill-third: #F4F4F4; /* replace to --dell-gray-100: #F4F4F4 */
    --dl-color-link: #0062AB; /* replace to --dell-blue-600: #0062AB */
    --dl-color-cell-background: #F4F4F4; /* replace to --dell-gray-100: #F4F4F4 */
    --dl-color-disabled-slider: #757575; /* replace to --dell-gray-500: #757575 */
    --dl-color-text-800: #252525; /* replace to --dell-gray-900: #252525 */
    --q-color-positive: #38d079; /* not in use */
    --q-color-warning: #FFC700; /* replace to --dell-yellow-500: #FFC700 */

    /* alert colors */
    --dl-color-negative: #AF0000; /* replace to --dell-red-500: #AF0000 */
    --dl-color-negative-background: #F3D9D9; /* replace to --dell-red-200: #F3D9D9 */
    --dl-color-negative-bg: #F3D9D9; /* replace to --dell-red-200: #F3D9D9 */
    --dl-color-warning: #FFC700; /* replace to --dell-yellow-500: #FFC700 */
    --dl-color-warning-background: #FFF7D9; /* replace to --dell-yellow-200: #FFF7D9 */
    --dl-color-warning-bg: #FFF7D9; /* replace to --dell-yellow-200: #FFF7D9 */
    --dl-color-positive: #1B8500; /* replace to --dell-green-500: #1B8500 */
    --dl-color-positive-background: #DDEDD9; /* replace to --dell-green-200: #DDEDD9 */
    --dl-color-positive-bg: #DDEDD9; /* replace to --dell-green-200: #DDEDD9 */
    --dl-color-info: #0076CE; /* replace to --dell-blue-500: #0076CE */
    --dl-color-info-background: #D9EAF8; /* replace to --dell-blue-200: #D9EAF8 */
    --dl-color-info-bg: #D9EAF8; /* replace to --dell-blue-200: #D9EAF8 */
    --dl-color-info-base: #EBF4FB; /* replace to --dell-blue-100: #EBF4FB */
    --dl-color-info-highlight: #FFFFFF; /* replace to --dell-white: #FFFFFF */

    --dl-color-chart-brush: #eef1ff; /* not in use */

    --dl-date-picker-shadow: 0px 3px 6px #101e7326; /* not in use */
    --dl-date-picker-selected-strip: #0076CE; /* base color replace to --dell-blue-500: #0076CE */
    --dl-date-picker-selected-date: #8fa0ff; /* not in use in OA, maybe in use in other repos*/

    /* DlJsonEditor based on atom one themes */
    --dl-json-editor-key-color: #a626a4; /* remain the same color */
    --dl-json-editor-background-color: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-json-editor-panel-background: #FFFFFF; /* replace to --dell-white: #FFFFFF */
    --dl-json-editor-value-color-boolean: #00819e; /* replace to dell-teal-500: #00819e */
    --dl-json-editor-value-color-number: #ED6400; /* replace to dell-orange-500: #ED6400 */
    --dl-json-editor-value-color-string: #1B8500; /* replace to --dell-green-500: #1B8500 */

    --dl-color-discovery: #7F3EE0; /* replace to --dell-color-discovery: #7F3EE0 */
    --dl-color-discovery-bg: #F6F2FD; /* replace to --dell-color-discovery-bg: #F6F2FD */

}

/* Define styles for the root window with dark - mode preference */
[data-theme='dark-mode'] {
    /* shadows */
    --dl-menu-shadow: 0px 3px 6px rgba(41, 46, 53, 0.5);

    /* colors */
    --dl-color-bg: #30363d;
    --dl-color-tooltip-text: #161616;
    --dl-color-tooltip-background: #ffffffd9;
    --dl-color-text-darker-buttons: #171723;
    --dl-color-secondary: #7c8cff;
    --dl-color-secondary-opaque: #7c8cff10;
    --dl-color-text-buttons: #ffffff;
    --dl-color-darker: #ffffffcc;
    --dl-color-medium: #ffffff99;
    --dl-color-lighter: #ffffff66;
    --dl-color-hover: #aeb9ff;
    --dl-color-disabled: #ffffff40;
    --dl-color-fill: #ffffff1e;
    --dl-color-fill-hover: #454a50;
    --dl-color-separator: #ffffff26;
    --dl-color-component: #30363d;
    --dl-color-body-background: #24282d;
    --dl-color-panel-background: #30363d;
    --dl-color-side-panel: #2a343e;
    --dl-color-shadow: #30363d;
    --dl-color-icon-default: #ffffffbf;
    --dl-color-fill-secondary: #ffffff1a;
    --dl-color-fill-third: #9e9e9e1a;
    --dl-color-link: #53b2e8;
    --dl-color-cell-background: #fffae2;
    --dl-color-disabled-slider: #64686d;
    --dl-color-text-800: #ffffff;
    --q-color-positive: #3FC97F;
    --q-color-warning: #f8d29a;

    /* alert colors */
    --dl-color-negative: #F56A66;
    --dl-color-negative-background: #391A19;
    --dl-color-negative-bg: #391A19;
    --dl-color-warning: #F8DA63;
    --dl-color-warning-background: #393218;
    --dl-color-warning-bg: #393218;
    --dl-color-positive: #3FC97F;
    --dl-color-positive-background: #183928;
    --dl-color-positive-bg: #183928;
    --dl-color-info-background: #182F44;
    --dl-color-info-bg: #182F44;
    --dl-color-info: #7CC8F4;
    --dl-color-info-base: #0A365C;
    --dl-color-info-highlight: #034782;

    --dl-color-chart-brush: #475077;

    --dl-date-picker-shadow: 0px 3px 6px #292e3580;
    --dl-date-picker-selected-strip: rgb(124, 140, 255, 0.2);
    --dl-date-picker-selected-date: #535e96;

    --dl-json-editor-key-color: #c678dd;
    --dl-json-editor-background-color: #282c34;
    --dl-json-editor-panel-background: #282c34;
    --dl-json-editor-value-color-boolean: #56b6c2;
    --dl-json-editor-value-color-number: #d19a66;
    --dl-json-editor-value-color-string: #98c379;

    --dl-color-discovery: #B687FD;
    --dl-color-discovery-bg: #392556;
}
