/* @import url('./nd/css2/google-font-roboto-400-500-swap.css'); // for on prem */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'constants.css';

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--dl-color-bg);
}

:root {
    /* common */
    --dl-color-white: #fff;
    --dl-color-black: #000;
    --dl-color-bg: #fff;
    --dl-color-background: var(--dl-color-bg);
    --dl-color-transparent: transparent;

    /* fontSizes */
    --dl-font-size-h1: 30px;
    --dl-font-size-h2: 20px;
    --dl-font-size-h3: 16px;
    --dl-font-size-h4: 14px;
    --dl-font-size-h5: 12px;
    --dl-font-size-h6: 10px;
    --dl-font-size-body: 12px;
    --dl-font-size-small: 10px;

    /* shadows */
    --dl-menu-shadow: 0px 3px 6px rgba(16, 30, 115, 0.15);

    /* colors */
    --dl-color-tooltip-text: #fefefe;
    --dl-color-tooltip-background: #171723d9;
    --dl-color-text-darker-buttons: #171723;
    --dl-color-secondary: #3452ff;
    --dl-color-secondary-opaque: #3452ff10;
    --dl-color-text-buttons: #ffffff;
    --dl-color-darker: #171723;
    --dl-color-medium: #767676;
    --dl-color-lighter: #999999;
    --dl-color-hover: #7b8cff;
    --dl-color-disabled: #b3b3b3;
    --dl-color-fill: #0000001e;
    --dl-color-fill-hover: #f8f8f8;
    --dl-color-separator: #e4e4e4;
    --dl-color-component: #ffffff;
    --dl-color-scrollbar: #e4e4e4;
    --dl-color-body-background: #eef1ff;
    --dl-color-panel-background: #ffffff;
    --dl-color-side-panel: #18195c;
    --dl-color-shadow: #ffffff;
    --dl-color-icon-default: #171723;
    --dl-color-fill-secondary: #fbf8f8;
    --dl-color-fill-third: #fbfbfb;
    --dl-color-link: #20abfa;
    --dl-color-cell-background: #fffae2;
    --dl-color-disabled-slider: #b3b3b3;
    --q-color-positive: #38d079;
    --q-color-warning: #e1b75b;

    /* alert colors */
    --dl-color-negative: var(--dl-color-alert-error);
    --dl-color-negative-background: var(--dl-color-alert-error-background);
    --dl-color-negative-bg: var(--dl-color-alert-error-bg);
    --dl-color-warning: var(--dl-color-alert-warn);
    --dl-color-warning-background: var(--dl-color-alert-warn-background);
    --dl-color-warning-bg: var(--dl-color-alert-warn-bg);
    --dl-color-positive: var(--dl-color-alert-success);
    --dl-color-positive-background: var(--dl-color-alert-success-background);
    --dl-color-positive-bg: var(--dl-color-alert-success-bg);
    --dl-color-info: var(--dl-color-alert-info);
    --dl-color-info-background: var(--dl-color-alert-info-background);
    --dl-color-info-bg: var(--dl-color-alert-info-bg);
    --dl-color-info-base: #E3F0FC;
    --dl-color-info-highlight: #C7E2FA;

    --dl-color-chart-brush: #eef1ff;

    --dl-date-picker-shadow: 0px 3px 6px #101e7326;
    --dl-date-picker-selected-strip: rgb(52, 82, 255, 0.2);
    --dl-date-picker-selected-date: #8fa0ff;

    /* DlJsonEditor based on atom one themes */
    --dl-json-editor-key-color: #a626a4;
    --dl-json-editor-background-color: #fafafa;
    --dl-json-editor-panel-background: #fafafa;
    --dl-json-editor-value-color-boolean: #0184bb;
    --dl-json-editor-value-color-number: #c18401;
    --dl-json-editor-value-color-string: #50a14f;

    --dl-color-discovery: #7F3EE0;
    --dl-color-discovery-bg: #F6F2FD;

}

/* Define styles for the root window with dark - mode preference */
[data-theme='dark-mode'] {
    /* shadows */
    --dl-menu-shadow: 0px 3px 6px rgba(41, 46, 53, 0.5);

    /* colors */
    --dl-color-bg: #30363d;
    --dl-color-tooltip-text: #161616;
    --dl-color-tooltip-background: #ffffffd9;
    --dl-color-text-darker-buttons: #171723;
    --dl-color-secondary: #7c8cff;
    --dl-color-secondary-opaque: #7c8cff10;
    --dl-color-text-buttons: #ffffff;
    --dl-color-darker: #ffffffcc;
    --dl-color-medium: #ffffff99;
    --dl-color-lighter: #ffffff66;
    --dl-color-hover: #aeb9ff;
    --dl-color-disabled: #ffffff40;
    --dl-color-fill: #ffffff1e;
    --dl-color-fill-hover: #454a50;
    --dl-color-separator: #ffffff26;
    --dl-color-component: #30363d;
    --dl-color-body-background: #24282d;
    --dl-color-panel-background: #30363d;
    --dl-color-side-panel: #2a343e;
    --dl-color-shadow: #30363d;
    --dl-color-icon-default: #ffffffbf;
    --dl-color-fill-secondary: #ffffff1a;
    --dl-color-fill-third: #9e9e9e1a;
    --dl-color-link: #53b2e8;
    --dl-color-cell-background: #fffae2;
    --dl-color-disabled-slider: #64686d;
    --q-color-positive: #3FC97F;
    --q-color-warning: #f8d29a;

    /* alert colors */
    --dl-color-negative: #F56A66;
    --dl-color-negative-background: #391A19;
    --dl-color-negative-bg: #391A19;
    --dl-color-warning: #F8DA63;
    --dl-color-warning-background: #393218;
    --dl-color-warning-bg: #393218;
    --dl-color-positive: #3FC97F;
    --dl-color-positive-background: #183928;
    --dl-color-positive-bg: #183928;
    --dl-color-info-background: #1F3447;
    --dl-color-info-bg: #182F44;
    --dl-color-info: #7CC8F4;
    --dl-color-info-base: #0A365C;
    --dl-color-info-highlight: #034782;

    --dl-color-chart-brush: #475077;

    --dl-date-picker-shadow: 0px 3px 6px #292e3580;
    --dl-date-picker-selected-strip: rgb(124, 140, 255, 0.2);
    --dl-date-picker-selected-date: #535e96;

    --dl-json-editor-key-color: #c678dd;
    --dl-json-editor-background-color: #282c34;
    --dl-json-editor-panel-background: #282c34;
    --dl-json-editor-value-color-boolean: #56b6c2;
    --dl-json-editor-value-color-number: #d19a66;
    --dl-json-editor-value-color-string: #98c379;

    --dl-color-discovery: #B687FD;
    --dl-color-discovery-bg: #392556;
}
