name: Bump package version

on:
  workflow_dispatch:
  pull_request:
    types: [closed]

permissions: write-all

concurrency:
  group: "version-bump"
  cancel-in-progress: false

jobs:
  bump-version:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.CICD_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Setup Git User
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "github-action@users.noreply.github.com"

      - name: Update package version
        run: |
          if [[ "${{ github.event.pull_request.head.ref }}" == "development" ]]; then
            npm version minor
          else
            npm version patch
          fi

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.CICD_TOKEN }}
        run: |
          git push --follow-tags
